<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
  <add name="OrderistaConnectionString" connectionString="Data Source=MSI-H192\LOCAL_USER_SQL;Initial Catalog=Orderista;Integrated Security=True" />
    <add name="OrderistaConnection" connectionString="Data Source=MSI-H192\LOCAL_USER_SQL;Initial Catalog=Orderista;Integrated Security=True" />
  <!--<add name="orderistaconnectionstring" connectionString="data source=pr-a161-15\mssqlserver2016; initial catalog=orderista;integrated security=true" />
  <add name="orderistaconnection" connectionString="data source=pr-a161-15\mssqlserver2016;initial catalog=orderista;integrated security=true"
   providerName="system.data.sqlclient" />-->
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1"/>
		<httpRuntime targetFramework="4.6.1"/>
		<pages maintainScrollPositionOnPostBack="true"/>
	</system.web>


	<appSettings>
		<add key="ValidationSettings: UnobtrusiveValidationMode" value="None"/>
	</appSettings>

</configuration>
